/* Color Palette
#e3e7e8: white (border, text)
#7a828a70: semi-transparent blue for elements within main area
#7a828a: full (for text/input border and text)
#bec1c2e4: semi-transparent gray for textinput (toolkit stuff)
#dfe2e2: button background
*/

/* General styles */
@font-face {
    font-family: 'standard';
    src: url('assets/nbp-sydnie2-font/NbpSydnie2-Yv8q.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header';
    src: url('assets/moodcake-font/Moodcake-5yz4B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blinking-cursor {
    from { border-color: transparent; }
    to { border-color: black; }
}

@keyframes floating {
    0% { transform: translateY(0) }
    50% { transform: translateY(-20px) }
    100% { transform: translateY(0) }
}


#text-area {
    margin-top: 25px;
    margin-bottom: 25px;
    animation: floating 7s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #7a828a70;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

body {
    font-family: 'standard', sans-serif;
    margin: 20px;
    background-color: #808188;
    display:block;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    color: #e3e7e8;
}

main {
    background-image: url("./assets/mood_island_background.png");
    border-color: #e3e7e8;
    border-width: 2.5px;
    border-radius: 50px;
    border-style: solid;
    padding: 25px;
    height: 90%;
    width: 90%;
    margin: 0px auto;
    margin-top: 3%;
}

p {
    font-size: 20px;
}

h1 {
    font-family: 'standard', 'truetype';
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin: 10px;
}

h3 {
    font-size: 25px;
    margin: 5px;
}

hr {
    width: 90%;
    border: none;
    border-top: 2px solid #e3e7e8;
    margin: 0px auto;
}

input, textarea {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'standard', 'sans-serif';
    font-size: 20px;
    background-color: #bec1c293;
    border-style: solid;
    border-width: 1px;
    border-color: #7a828a;
}

button {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'standard', 'sans-serif';
    font-size: 20px;
    background-color: #dfe2e2;
    border-style: groove;
    border-color: #7a828a;
    border-width: 1px;
}

/* Nav/Sidebar styles */
.sidebar {
    /* taken from W3Schools tutorial */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #080808e9; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

nav {
    display: flex;
    margin: 5px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    background-color: #7a828a70;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #e3e7e8;
}
.sidebar-button {
    margin-left: auto;
    display: inline;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.sidebar-button:hover {
    border-radius: 30px;
    background-color: #7a828ac8;
    cursor: pointer;
}

#header {
    animation: typing 8s steps(150, end), blinking-cursor 0.5s step-end 20s;
    white-space: nowrap;
    border-right: 4px black;
    overflow: hidden;
    margin: 0px;
    margin-left: 10px;
}


/* edit panel */
#edit-panel-header {
    display: flex;
    align-items: center;
}

/* Toolkit styles */
#toolkit {
    display: flex;
    margin-left: auto;
    background-color: #bec1c293;
    display: inline-flex;
    width: auto;
    height: auto;
    transition: transform 1.3s ease;
    border-color: #e3e7e8;
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    margin: 10px;
}

#toolkit-button {
    padding: 5px;
    margin-right: 2px;
    transition: transform 0.3s ease;
    font-size: 20px;
}
#toolkit-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}
#toolkit-content {
    display: none;
}
.toolkit-option {
    padding: 5px;
    font-size: 20px;
}
.toolkit-option:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.tool-content {
    display: none;
}

/* Toolkit features */
#weeding-form, #watering-form, #cancel-erase, #cancel-water, #watering-update-form {
    display: none;
}

#plant-selector {
    align-items: center;
    display: inline-flex;
    border-style: solid;
    background-color: #bec1c2e4;
    border-color: #7a828a;
    border-width: 1px;
    color: #6e6e6e;
}
.plant-choice {
    width: 14%;
    height: auto;
    max-width: 50px;
}
#select-label {
    padding-left: 3px;
    font-size: 20px;
    width: 14%;
}
#expand-island {
    display: none;
}

/* Play area styles */
#play-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}
.play-element {
    padding: 5px;
    margin: 10px;
}


/* Island styles */
#island-platform {
    width: 60%;
}
#island {
    width: 400px;
    height: 400px;
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    animation: floating 5s ease-in-out infinite;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tile {
    border: 2px solid #6f936f;
    width: 80px;
    height: 80px;
    background-color: #93bf93;
    cursor: pointer;
}
.tile:hover {
    background-color: rgb(185, 177, 177);
    cursor: pointer;
    color: white;
}
.plantIcon {
    width: 100%;
    height: 100%;
}