/* General styles */
@font-face {
    font-family: 'standard';
    src: url('assets/nbp-sydnie2-font/NbpSydnie2-Yv8q.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header';
    src: url('assets/moodcake-font/Moodcake-5yz4B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blinking-cursor {
    from { border-color: transparent; }
    to { border-color: black; }
}

@keyframes floating {
    0% { transform: translateY(0) }
    50% { transform: translateY(-20px) }
    100% { transform: translateY(0) }
}

#header {
    animation: typing 15s steps(200, end), blinking-cursor 0.5s step-end 20s;
    white-space: nowrap;
    border-right: 4px black;
    overflow: hidden;
}

#island {
    width: 400px;
    height: 400px;
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    animation: floating 6s ease-in-out infinite;
}
#island-title {
    animation: floating 6s ease-in-out infinite;
}

body {
    font-family: 'standard', sans-serif;
    margin: 20px;
    background-color: #c5d7e6;
    display:block;
}

p {
    font-size: 20px;
}

#main {
    transition: margin-right .5s;
    padding: 20px;
}

h1 {
    font-family: 'standard', 'truetype';
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

input, textarea {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'standard', 'sans-serif';
    font-size: 20px;
    background-color: #bec1c2;
    border-style: solid;
    border-color: #7a828a;
}

button {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'standard', 'sans-serif';
    font-size: 20px;
    background-color: #dfe2e2;
    border-style: groove;
    border-color: #7a828a;
}

/* Nav/Sidebar styles */
.sidebar {
    /* taken from W3Schools tutorial */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #080808e9; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.sidebar .close-button {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidebar-button {
    display: inline;
    background-color: #7a828a;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.sidebar-button:hover {
    background-color: rgb(152, 162, 180);
    cursor: pointer;
}

/* Toolkit styles */
#toolkit {
    display: flex;
    align-items: center;
    background-color: #b1c1cd;
    display: inline-flex;
    width: auto;
    height: auto;
    transition: transform 1.3s ease;
    border-color: #7a828a;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}

#toolkit-button {
    padding: 10px;
    margin-right: 2px;
    transition: transform 0.3s ease;
    font-size: 24px;
}
#toolkit-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}
#toolkit-content {
    display: none;
}
.toolkit-option {
    padding: 10px;
    font-size: 24px;
}
.toolkit-option:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.tool-content {
    display: none;
}

/* Toolkit features */
#weeding-form, #watering-form, #cancel-erase, #cancel-water, #watering-update-form {
    display: none;
}

#plant-selector {
    align-items: center;
    display: inline-flex;
    border-style: solid;
    background-color: #bec1c2;
    border-color: #7a828a;
    border-width: 1px;
    color: #7a828a;
}
.plant-choice {
    width: 15%;
    height: auto;
    max-width: 50px;
}
#select-label {
    padding-left: 3px;
    font-size: 20px;
}

/* Play area styles */
#play-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.play-element {
    padding: 5px;
    margin: 10px;
    background-color: #b1c1cd;
    border-color: #7a828a;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}


/* Island styles */

.tile {
    border: 2px solid #6f936f;
    width: 80px;
    height: 80px;
    background-color: #93bf93;
    cursor: pointer;
}
.tile:hover {
    background-color: rgb(185, 177, 177);
    cursor: pointer;
    color: white;
}
.plantIcon {
    width: 100%;
    height: 100%;
}